{% extends "blog/base.html" %}

    
            {% block content %}

<div class="row home">
        <div class="col-md-8">
            <div id="introduction">
            <p><h1>What is it?</h1>
            Hello.
            I'm Anna Teglassy / teglanna, I'm novice in programming.</br>
            This page is a collection of my first and favourite codes, simple stuffs. I'm uploading files continuously, please be patient.
            In the "Learning Stuffs" I tried to collect useful books, pages, tutorials, I hope it can help for somebody.
            Cheers!
            </p>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}


</html>