{% extends "blog/base.html" %}

    <div class="row">
        <div class="col-md-8">
            {% block content %}
            <div id="introduction">
            <p><h1>Introduction</h1>
            This is a collection page of my firsts and favourite codes, simple stuffs.
            I just wanted to organize my stuffs and collect the websites that I could use for learning. It could be useful for someone else...
            </p>
            </div>
            {% endblock %}
        </div>
    </div>

       
    <div class="row">   
            <footer>
                <p>Copyright &copy; 2015</p>
            </footer>
    </div>  
</div>
    </body>
</html>