{% extends "blog/base.html" %}

{% block content %}

<div class="row learning_content">    

		<div class="row" id= "intro_learn">
			<div class="col-md-8">
				When I started to learn programming, I got many useful information about video tutorials and books.</br>
				First I want to introduce the site of my friend, who started to collect courses, it is quite useful!
				<h4>The Gold Mine</h4>
				<a href="http://thegoldmine.herokuapp.com/">www.thegoldmine.herokuapp.com</a>
			</div>
		</div>


	<div class="row details">
		<div class="col-md-6 learn">
			<h3>Python</h3>
			<h4>Intro to Computer Science</h4>
			This is the most basic course to present programming and Python.</br>
			<a href="https://www.udacity.com/course/intro-to-computer-science--cs101">www.udacity.com/course/cs101</a>
			
			<h4>Programming Foundations with Python</h4>
			If you want to know more about object oriented programming, you can make simple but great exercises:</br>
			<a href="https://www.udacity.com/course/programming-foundations-with-python--ud036">www.udacity.com/course/ud036</a>	
		
	    	<h4>Learn Python The Hard Way</h4>
	    	For Python beginners it is also good</br>
	    	<a href="http://learnpythonthehardway.org/book/">www.learnpythonthehardway.org/book</a>
	    </div>

		<div class="col-md-6 learn">
	    	<h3>JavaScript</h3>
	    	<h4>Eloquent JavaScript</h4>
	    	<a href="http://eloquentjavascript.net/">www.eloquentjavascript.net/</a>	
	    	<h4>JavaScript Basics</h4>
	    	<a href="https://www.udacity.com/course/javascript-basics--ud804">www.udacity.com/course/ud804</a>  

			<h4>For practicing</h4>
	    	<a href="http://www.codecademy.com/">www.codecademy.com</a>
		</div>
	</div>

</div>   

{% endblock %}