*{
    padding:0;
    margin:0;
}

body{
    height: 100%;
    font-family:'Ubuntu', sans-serif;
    line-height:1.6em;
    color:#666;
    background-image: url(../img/pattern.png);
    font-size:16px;
}
h1 {
    line-height: 2em;
}
.container {
    background: #E6E6E6;
    min-height: 100%;
    position: relative;
    
}

.home {
    background: #FFFFDF;
    min-height: 400px;
}

header {
    background: #eee;
    padding: 30px 10px;
}
@media (min-width: 1200px) {
    nav {
        margin-left: 280px;
    }
    #finefinder {
        margin-left: 170px;
        text-align: center;
    }
}

@media (max-width: 992px) {
    header span {
        padding-left:30px;
    }
}

nav ul {
    background: #efefef; 
    /*background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
    padding: 0 10px;
    border-radius: 5px;  
    list-style: none;
    position: relative;
    display: inline-table;
    z-index: 1000;
}
nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
    min-width: 120px;
    text-align: center;
}

nav ul li:hover  {
    background: #A6A6A6;
    background: linear-gradient(top, #A6A6A6 0%, #A6A6A6 40%);
    background: -moz-linear-gradient(top, #A6A6A6 0%, #A6A6A6 40%);
    background: -webkit-linear-gradient(top, #A6A6A6 0%,#A6A6A6 40%);
}

nav ul li:hover a {
    color: #fff;
}
    
nav ul li a {
    display: block; padding: 15px 25px;
    color: #757575; 
    text-decoration: none;
}   

@media (max-width: 700px) {
    nav ul li a{
        padding: 0;
    }
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    background: #A6A6A6; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
    nav ul ul li {
        float: none; 
        border-top: 1px solid #6b727c;
        /*border-bottom: 1px solid #575f6a;*/
        text-align: center;
        position: relative;
    }
        nav ul ul li a {
            padding: 10px 10px;
            color: #fff;
        }   
            nav ul ul li a:hover {
                background: #4b545f;
            }

nav ul ul ul {
    position: absolute; left: 100%; top:0;
}

a {
    text-decoration: none;
}

#introduction {
    padding: 30px;
    line-height: 2em;
}
.example {
    text-align: center;
    margin-top: 30px;
}
.example .img-responsive {
    margin: 0 auto;
}

footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding:20px;
    background:#eee;
}

.buttons {
    margin-top: 10px;
}
button {
    border-radius: 3px;
    border-bottom: 0;
    border-right: inset;
    background: #e7e5dc;  
    background: #e7e5dc; 
    background: #e7e5dc; 
    min-width: 65px;
    min-height: 30px;
}

.learn {
    padding:10px 20px;
}
.learning_content a {
    color: #BA0395;
    font-size: 14px;
    padding-left: 10px;
}
.learn h3, h4, p {
    line-height: 2em;
    padding: 10px;
}
.learn h3 {
    color: #515051;
    font-size: 25px;
}

 .details {
        padding-left: 40px;

    }

.learning_content {
    background: #FFFFDF;
}

#intro_learn {
    padding-left: 40px;
    padding-top: 30px;
}